<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
   <h1>Add a new student!</h1>
  <form action="/squads/<%= @squad["id"] %>/students" method="POST">
    <p>
      <label for="name">Student Name: </label>
      <input type="text" name="name" id="name" autofocus>
      <label for="age">Student Age: </label>
      <input type="text" name="age">
      <label for="spirit_animal">Spirit Animal: </label>
      <input type="text" name="spirit_animal">
      <input type="submit" value="Add New Student">
    </p>
  </form>
  
</body>
</html>