<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <h1>Add a new squad!</h1>
  <form action="/squads" method="POST">
    <p>
      <label for="name">Squad Name: </label>
      <input type="text" name="name" id="name" autofocus>
      <label for="mascot">Squad Mascot: </label>
      <input type="text" name="mascot" autofocus>
      <input type="submit" value="Add Squad">
    </p>
  </form>
</body>
</html>
