<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <h1>Learn More About This Student!</h1>
  <p>
    <%= @student["name"] %>
    <%= @student["age"] %>
    <%= @student["spirit_animal"] %>
  </p>
</body>
</html>
